
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #286090;
}
.panel{
    clear: both;
    height: auto;
    background-color: whitesmoke;
}
.clearfix{
    clear: both;
}
*{
    margin: 0px;
    padding: 0px;
    
}
#sidebar{
    position: fixed;
    float: left;
    width: 200px;
    height: 80%;
    background: rgb(0, 8, 8);
}
#sidebar ul li {
    color:white;
    list-style: none;
    margin: 0;
    padding: 15px 10px;
    border-bottom: 1px solid blue;
}
#sidebar a{
    text-decoration: none;
    color: white;
}

/*#view{
    background: wheat;
    height: 800px;
    float: right;
    border: solid 1px;
    margin-right: 80px;
    
}*/

.footer{
clear: both;
border: 1px groove #aaaaaa;
color: black;
padding: 0;
text-align: center;
vertical-align: middle;
line-height: normal;
margin: 0;
/* position: fixed; */
width: 100%;
}







