/* @import url(http://fonts.googleapis.com/css?family=Roboto); */
/*
* Base structure
*/

html,
body {
height: 100%;
background-color: #fff;
}
body {
color:black;
/*text-align: center;*/
/*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}
.example-navbar-collapse{
/* position: fixed; */
}
.container{
margin: 0px auto;
}
/* Links */
a,
a:focus,
a:hover {
color:blue;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
color: #333;
text-shadow: none; /* Prevent inheritence from `body` */
background-color: #fff;
border: 1px solid #fff;
}




/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
display: table;
text-align: center;
width: 100%;
height: 800px;
background-color: #333;
color:white;
/*height: 100%; */
/*min-height: 100%;*/
}
.site-wrapper-inner {
display: table-cell;
vertical-align: top;
}
.cover-container {
margin-right: auto;
margin-left: auto;
}

/* Padding for spacing */
.inner {
padding: 30px;
}


/*
* Header
*/
.masthead-brand {
margin-top: 10px;
margin-bottom: 10px;
}

.masthead-nav > li {
display: inline-block;
}
.masthead-nav > li + li {
margin-left: 20px;
}
.masthead-nav > li > a {
padding-right: 0;
padding-left: 0;
font-size: 16px;
font-weight: bold;
color: #fff; /* IE8 proofing */
color: rgba(255,255,255,.75);
border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
background-color: transparent;
border-bottom-color: #a9a9a9;
border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
color: #fff;
border-bottom-color: #fff;
}

@media (min-width: 768px) {
.masthead-brand {
float: left;
}
.masthead-nav {
float: right;
}
}


/*
* Cover
*/

.cover {
padding: 0 20px;
}
.cover .btn-lg {
padding: 10px 20px;
font-weight: bold;
}

/*
* Affix and center
*/

@media (min-width: 768px) {
/* Pull out the header and footer */
.masthead {
position: fixed;
top: 0;
}
/* Start the vertical centering */
.site-wrapper-inner {
vertical-align: middle;
}

}


.card-img-top {
height: 200px;
width:200px;
}

#signup{
	/*border:1px solid blue;*/
	background: white;
	padding:20px;
	border-radius: 5px;
}
#signup input button{
	width:80%;
	margin:0 auto;
}
#signup button{
	width:80%;
	margin:0 auto;
}
#signin{
	background: white;
	margin-top: 30px;
	padding:20px;
	border-radius: 5px;
}
#signin input, button {
	width:80%;
	margin:0 auto;
}

.description{
  text-align: center;
}
#addpost{
	background: white;
	margin-top: 30px;
	padding:20px;
	border-radius: 5px;
	box-shadow: 1px 1px grey;
	margin-bottom:30px;
}


/* .panel{
clear: both;
width: 100%;
float: right;
height: auto;
background-color:whitesmoke;
} */
.blogShort{ border-bottom:1px solid #ddd;}
.description{
padding: 5px;
}

/* #post{
clear: both;
height: 300px;
background-color:whitesmoke;
border:1PX solid #2980b9;
border-radius: 10px;
margin-top: 5px;
} */
.clearfix{
clear: both;
}

.footer{
clear: both;
background-color: #333;
color: white;
padding: 0;
text-align: center;
vertical-align: middle;
line-height: normal;
margin: 0;
/* position: fixed; */
width: 100%;
}
.post {
    background-color:white;
    height: 400px;
    /* width: 300px; */
    overflow: hidden;
    padding: 0 10px 20px;
    position: relative;
    border-radius: 5px;display: inline-block;
    border: 1px solid rgb(173, 171, 171);
    line-height: 1.3em;
    max-width: 400px;
    max-height: 400px;
    margin: 4px 0 12px 8px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 400px;
    white-space: normal;
    vertical-align: top;
}

ul{
    list-style: none;
}

button {
    width: inherit;
}

#message-success {
    display: none;
}

ul.list-group {
    margin-top: 100px;
}

button.btn.btn-primary.btn-lg.modalTrigger {
    min-width: 150px;
}

.btn-facebook {
    color: #fff;
    background-color: #4C67A1;
}

.btn-facebook:hover {
    color: #fff;
    background-color: #405D9B;
}

.btn-facebook:focus {
    color: #fff;
}