.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    padding-left: 2px;
    background:;
    /*margin: auto;*/
    text-align: center;
}

.title {
    color: white;
    font-size: 18px;
}
.card h3{
text-align:left;
color:white;
}

.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.card button:hover, a:hover {
    opacity: 0.7;
}